body {
  padding-top: 50px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

nav {
  font-size: 16px;
}

article {
  min-height: 880px;
}

article .desc {
  margin-top: 250px;
  text-align: center;
}

article .desc h1 {
  font-size: 24px;
}

article .desc p {
  margin-top: 20px;
  font-size: 16px;
}

footer > div {
    height: 50px;
    border-top: #000 solid 1px;
    text-align: right;
    line-height: 50px;
}